@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Source+Serif+4:wght@800&display=swap");
.error {
  background-color: #cc3300 !important;
}

.warning {
  background-color: #ffcc00 !important;
}

.ok {
  background-color: #339900 !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* just to be sure these are full screen*/
button {
  cursor: pointer;
  border-style: none;
}

.selected {
  background: #252422 !important;
  color: #fffcf2 !important;
}
